.annoucement-slider{
 animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: -30%;
    width: 60%;
  }

  to {
    margin-left: 70%;
    width: 60%;
  }
}